<header class="p-3 mb-1  position-sticky">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
      <a href="/" class=" col d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" style="font-size: 28px;">
       <img src="../../../assets/images/logo.png" alt="logo" class="img-fluid" style="width: 50px;">
       El Hermes Tamaulipeco
      </a>    
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <app-search (search)="onSearch($event)"></app-search>
      </form>      
    </div>
  </div>
</header>
  