.card-container:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition: transform 0.5s ease-in;
    z-index: 100;
}
.card-container{
    display: flex;
}

.image :hover{
    opacity: 1;
    & button{
        opacity: 1;
        transform: none;
    }
}
.image img{
    object-fit:cover;        
}

.hover-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color: #fff, $alpha: 0.7);
    opacity: 0;
    transition: all 0.5s ease-in;
    & button{
        z-index: 100;
        transition: all 0.5s ease-in;
    }
    & button:first-of-type{
        transform: translateX(-20px);
    }
}


@media screen and(max-width: 1000px){
    .card-container p{
        display: none;
    }  
}

@media screen and(max-width: 768px){
    .card-container:hover{
        transform: translateY(0);
    }
}